.p-card {
    @apply flex flex-col
        bg-surface-0 dark:bg-surface-900
        text-surface-700 dark:text-surface-0
}

.p-card-header {
    @apply border-b-4 border-secondary
}

.p-card-caption {
    @apply flex flex-col gap-2
}

.p-card-body {
    @apply p-4 flex flex-col gap-2 flex-1
}

.p-card-content {
    @apply flex-1
}

.newscard .p-card-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.p-card-title {
    @apply font-medium text-xl text-primary
}

.p-card-subtitle {
    @apply text-info-600 text-sm
}